<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVuw95PjBub1aH8r-NEQ_HUlfWonBQkQc</string>
	<key>GCM_SENDER_ID</key>
	<string>52233774317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinkbitsolutions.xcodecloud.thinkbit</string>
	<key>PROJECT_ID</key>
	<string>thinkbit-xcodecloud</string>
	<key>STORAGE_BUCKET</key>
	<string>thinkbit-xcodecloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52233774317:ios:411d67e141bf5fbf09d8e4</string>
</dict>
</plist>